<IfModule mod_rewrite.c>

RewriteEngine on
ErrorDocument 404 http://localhost/Tienda_PHP_vanilla/error/idex

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^/?([a-zA-Z]+)/([a-zA-Z]+) index.php?controller=$1&action=$2
</IfModule>